.rounded1{
  /* width: 5rem;
  height: 70px;
  background-color: green; */
  height: 25px;
  width: 25px;
  border: 10px solid green;
  border-top: 0px;
  padding: 2%, 8%, 20%, 8%;
  border-radius: 10px 10px 50% 50%;
}
.rounded2{
  height: 25px;
  width: 25px;
  border: 10px solid orangered;
  transform: rotate(180deg);
  border-top: 0px;
  padding: 2%, 15%, 20%, 8%;
  border-radius: 10px 10px 50% 50%;
}
.header{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 5px;
  padding-top: 40px;
}
.header h1{
  color: green;
}
.round{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container{
  /* padding-bottom: 30px;
  background-size: cover;
  background-image: url("/bg1.JPG"); */
  width: 100%;
  background-color:lightcyan;
  height: 100vh;
  /* background-size: cover; */
  transition: 0.5s;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap:20px;
}
.main p{
  font-size: 30px;
}
.main h1{
  font-size: 4rem;
  color: green;
  font-weight: 800;
}
.main button{
  width: 15rem;
  background-color: orangered;
  color: white;
  padding: 25px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid orangered;
  border-radius: 20px;
  cursor: pointer;
}
/* .circle{
  width: 70rem;
  height: 40rem;
  border: 100px solid green;
  border-radius: 50%;
  height: 20rem;
  width: 75rem;
  border-radius: 50%  / 100% 100% 0 0;
  border: 140px solid green;
  border-bottom: 0;
}
.contain{
  display: flex;
  justify-content: center;
  left: 70px;
  top: 35rem;
  position: absolute;
}
.image1{
  position: absolute;
  left: 70px;
}
.image1 img{
  border-radius: 50%;
}
.image2{
  position: absolute;
  left:62rem;
}
.image2 img{
  border-radius: 50%;
}
.image3{
  position: absolute;
  left:33rem;
  top: 0px;
}
.image3 img{
  border-radius: 50%;
} */
.meal{
  display: flex;
  justify-content: center;
  padding-top: 70px;  background-color:lightcyan;

}




@media screen and (orientation:portrait) {
  .rounded1{
    
    height: 25px;
    width: 25px;
    border: 10px solid green;
    border-top: 0px;
    padding: 2%, 8%, 20%, 8%;
    border-radius: 10px 10px 50% 50%;
  }
  .meal img{
  width: 100%;
  height: 10rem;
  background-color:lightcyan;
}
  .rounded2{
    height: 25px;
    width: 25px;
    border: 10px solid orangered;
    transform: rotate(180deg);
    border-top: 0px;
    padding: 2%, 15%, 20%, 8%;
    border-radius: 10px 10px 50% 50%;
  }
  .header{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5px;
    padding-top: 40px;
  }
  .header h1{
    color: green;
  }
  .round{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .container{
    padding-bottom: 30px;
    background-size: cover;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap:20px;
  }
  .main p{
    font-size: 20px;
  }
  .main h1{
    color: green;
    font-weight: 800;
    font-size: 40px;
  }
  .main button{
    width: 15rem;
    background-color: orangered;
    color: white;
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid orangered;
    border-radius: 20px;
    cursor: pointer;
  }
  .circle{
    /* width: 70rem;
    height: 40rem;
    border: 100px solid green;
    border-radius: 50%; */
    height: 15rem;
    width: 25rem;
    border-radius: 50%  / 100% 100% 0 0;
    border: 40px solid green;
    border-bottom: 0;
  }
  .contain{
    display: flex;
    justify-content: center;
    left: 8px;
    top: 35rem;
    position: absolute;
  }
  .image1{
    position: absolute;
    left:20rem;
    top: 5rem;
  }
  .image1 img{
    border-radius: 50%;
    width: 70px;
    height: 60px;
  }
  .image2{
    position: absolute;
    left:2rem;
    top: 5rem;
  }
  .image2 img{
    border-radius: 50%;
    width: 70px;
    height: 60px;
  }
  .image3{
    position: absolute;
    left:10rem;
    top: 0px;
  }
  .image3 img{
    border-radius: 50%;
    width: 70px;
    height: 60px;
  }
}