.container{  
    background-color:lightcyan;
    border: 1px solid black;
    padding: 3rem;
    width: 27rem;
    height: 37rem;
    border-radius: 20px;
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.contain{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.name{
    display: flex;
    flex-direction: column;
}

.name input{
    border-radius: 20px;
    padding: 5px;
    background-color: aquamarine;
    outline: none;
    font-size: 15px;
    border: 1px solid aquamarine;
}
.dietary{
    display: flex;
    flex-direction: column;
}
.dietary input{
    padding-bottom: 2rem;
    font-size: 15px;
    border: 1px solid aquamarine;
    outline: none;
    background-color: aquamarine;
    border-radius: 10px;
}
.personal{
    display: flex;
    gap: 90px;
}
.personal h3{color: green;}
.submit button{
    outline: none;
    border: 1px solid orangered; 
    background-color: orangered; 
    padding: 5px;
    color: white;
    width: 20rem;
    font-size: 20px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
.compliment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.close{
    padding-left: 30px;
}
.thanks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icon{
    display: flex;
    gap: 10px;
}
.out{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

@media screen and (orientation:portrait) {
    .container{
        background-color:lightcyan;
        border: none;
         width: 20rem;
        height: 100%;
        border-radius: 20px;
        border: 1px solid black;
    }
    .header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 70px;
    }
    .contain{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .name{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .name input{
        border-radius: 20px;
    padding: 5px;
    background-color: aquamarine;
    outline: none;
    font-size: 15px;
    border: 1px solid aquamarine;
    }
    .dietary{
        display: flex;
        flex-direction: column;
    }
    .dietary input{
        padding-bottom: 2rem;
        font-size: 20px;
        border: 1px solid aquamarine;
        outline: none;
        background-color: aquamarine;
        border-radius: 10px;
    }
    
    .personal{
        display: flex;
        gap: 90px;
    }
    .submit button{
        outline: none;
        border: 1px solid orangered; 
        background-color: orangered; 
        padding: 5px;
        color: white;
        width: 13rem;
        font-size: 20px;
        border-radius: 15px;
        cursor: pointer;
    }
    .compliment{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .close{
        padding-left: 30px;
    }
    .thanks{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .icon{
        display: flex;
        gap: 10px;
    }
    
}